.hamburger-basement {
    overflow-y: hidden;
}

.hamburger-basement-basement, .hamburger-basement-main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}